:root {
	--c1-player-panel-bg: hsl(111, 5%, 25%);
	--c1-player-panel-header-bg: hsl(111, 30%, 25%);
	--c1-player-panel-entry-bg: hsl(111, 15%, 15%);
	--c1-player-panel-entry-hovered: hsl(111, 15%, 22.5%);
	--c1-player-panel-entry-selected: hsl(111, 35%, 30%);
	--c1-exotic-player-panel-entry-bg: hsl(193, 15%, 15%);
	--c1-exotic-player-panel-entry-hovered: hsl(193, 15%, 22.5%);
	--c1-exotic-player-panel-entry-selected: hsl(193, 35%, 30%);
	--c1-player-panel-speed-fg: hsl(111, 50%, 75%);
	--c1-exotic-player-panel-speed: hsl(193, 50%, 75%);
	--c1-exotic-player-panel-name: hsl(193, 10%, 90%);

	--c1-add-player-btn-bg: hsl(111, 5%, 50%);
	--c1-add-player-btn-hovered: hsl(111, 5%, 65%);
	--c1-add-player-btn-pressed: hsl(111, 5%, 40%);
	--c1-add-player-btn-disabled: hsl(111, 5%, 35%);
	--c1-player-name-input-fg: hsl(111, 10%, 90%);

	--c2-player-panel-bg: hsl(7, 5%, 25%);
	--c2-player-panel-header-bg: hsl(7, 30%, 25%);
	--c2-player-panel-entry-bg: hsl(7, 15%, 15%);
	--c2-player-panel-entry-hovered: hsl(7, 15%, 22.5%);
	--c2-player-panel-entry-selected: hsl(7, 35%, 30%);
	--c2-player-panel-speed-fg: hsl(7, 50%, 75%);

	--c2-add-player-btn-bg: hsl(7, 5%, 50%);
	--c2-add-player-btn-hovered: hsl(7, 5%, 65%);
	--c2-add-player-btn-pressed: hsl(7, 5%, 40%);
	--c2-add-player-btn-disabled: hsl(7, 5%, 35%);
	--c2-player-name-input-fg: hsl(7, 10%, 90%);

	--player-name-input-bg: hsl(0, 0%, 12.5%);

	--control-btn-bg: hsl(276, 50%, 50%);
	--control-btn-fg: hsl(0, 0%, 90%);
	--control-btn-hovered: hsl(276, 60%, 60%);
	--control-btn-pressed: hsl(276, 40%, 30%);
	--control-btn-disabled: hsl(276, 15%, 30%);
	--control-btn-fg-disabled: hsl(0, 0%, 70%);

	--capture-panel-bg: hsl(34, 5%, 25%);
	--capture-panel-header-bg: hsl(34, 30%, 25%);

	--saved-panel-bg: hsl(147, 5%, 25%);
	--saved-panel-header-bg: hsl(147, 30%, 25%);
	--saved-panel-entry-bg: hsl(147, 15%, 15%);
	--saved-panel-speed-fg: hsl(147, 50%, 75%);

	--hidden-panel-bg: hsl(231, 5%, 25%);
	--hidden-panel-header-bg: hsl(231, 30%, 25%);
	--hidden-panel-entry-bg: hsl(231, 15%, 15%);
	--hidden-panel-speed-fg: hsl(231, 50%, 75%);

	--hunger-panel-bg: hsl(346, 5%, 25%);
	--hunger-panel-header-bg: hsl(346, 30%, 25%);
	--hunger-panel-entry-bg: hsl(346, 15%, 15%);
	--hunger-panel-speed-fg: hsl(346, 50%, 75%);
}

body {
	font-family: "Rubik", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	background: #353435;
	color: #eae3e8;

	display: flex;
	flex-direction: row;
}

section#players-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 98vh;
	width: 33vw;
}

section#player-mod-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

section#player-mod-btns>button {
	width: 100%;
}

button#cancel-selection {
	margin: 0 0.15em 0.35em 0 !important;
}

button#exotic-specie {
	background: hsl(193, 50%, 50%);
	margin: 0 0 0.35em 0.15em;
}

button#exotic-specie:hover {
	background: hsl(193, 60%, 60%);
}

button#exotic-specie:active {
	background: hsl(193, 40%, 30%);
	color: hsl(0, 0%, 70%)
}

button#exotic-specie:disabled {
	opacity: 50%;
	background: var(--control-btn-disabled);
}

section#primary-consumers-list {
	background: var(--c1-player-panel-bg);
	border-radius: 0.5em 0.5em 0 0;
}

section#secondary-consumers-list {
	background: var(--c2-player-panel-bg);
}

section.list-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	text-align: center;
}

section#c1-list-header {
	background: var(--c1-player-panel-header-bg);
	border-radius: 0.5em 0.5em 0 0;
}

section#c2-list-header {
	background: var(--c2-player-panel-header-bg);
}

section.list-header>h2 {
	font-size: 2em;

	padding: 0.25em;
	margin: 0;
}

section.list-header>img {
	width: 2em;
}

ul.list-items {
	display: grid;
	grid: auto / 1fr 1fr;
	list-style-type: none;

	padding: 0;
	margin: 0;
}

ul.list-items>li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	font-weight: 500;
	font-size: 1.35em;

	padding: 0.25em;
}

ul#c1-list-items>li {
	background: var(--c1-player-panel-entry-bg);
}

ul#c1-list-items>li.exotic-list-entry {
	background: var(--c1-exotic-player-panel-entry-bg);
	color: var(--c1-exotic-player-panel-name);
}

ul#c2-list-items>li {
	background: var(--c2-player-panel-entry-bg);
}

ul#c1-list-items>li:hover {
	background: var(--c1-player-panel-entry-hovered);
}

ul#c1-list-items>li.exotic-list-entry:hover {
	background: var(--c1-exotic-player-panel-entry-hovered);
}

ul#c2-list-items>li:hover {
	background: var(--c2-player-panel-entry-hovered);
}

ul.list-items>li>p {
	margin: 0;
}

ul#c1-list-items>li>p {
	color: var(--c1-player-panel-speed-fg);
}

ul#c1-list-items>li.exotic-list-entry>p {
	color: var(--c1-exotic-player-panel-speed);
}

ul#c2-list-items>li>p {
	color: var(--c2-player-panel-speed-fg);
}

section.list-mod-ctrls {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	padding: 5px 0;
}

section#c1-list-mod-ctrls {
	background: var(--c1-player-panel-header-bg);
}

section#c2-list-mod-ctrls {
	background: var(--c2-player-panel-header-bg);
	border-radius: 0 0 0.5em 0.5em;
}

section#secondary-consumers-list {
	border-radius: 0 0 0.5em 0.5em;
}

section.list-mod-ctrls>input {
	font-family: "Rubik", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 1.35em;

	width: 100%;

	margin: 0 5px;
	padding: 3px 3px 3px 10px;

	border: none;
	border-radius: 5px;
}

section#c1-list-mod-ctrls>input {
	background: var(--player-name-input-bg);
	color: var(--c1-player-name-input-fg);
}

section#c2-list-mod-ctrls>input {
	background: var(--player-name-input-bg);
	color: var(--c2-player-name-input-fg);
}

section.list-mod-ctrls>input:focus {
	background: #000;
	outline: none;
}

section.list-mod-ctrls>button {
	font-family: "Rubik", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 2.2em;

	padding: 0 10px;

	margin: 0 5px 0 0;
	border: none;
	border-radius: 5px;
}

section#c1-list-mod-ctrls>button {
	background: var(--c1-add-player-btn-bg);
	color: var(--c1-player-name-input-fg);
}

section#c2-list-mod-ctrls>button {
	background: var(--c2-add-player-btn-bg);
	color: var(--c2-player-name-input-fg);
}

section#c1-list-mod-ctrls>button:hover {
	background: var(--c1-add-player-btn-hovered);
}

section#c1-list-mod-ctrls>button:active {
	background: var(--c1-add-player-btn-pressed);
}

section#c1-list-mod-ctrls>button:disabled {
	background: var(--c1-add-player-btn-disabled);
}

section#c2-list-mod-ctrls>button:hover {
	background: var(--c2-add-player-btn-hovered);
}

section#c2-list-mod-ctrls>button:active {
	background: var(--c2-add-player-btn-pressed);
}

section#c2-list-mod-ctrls>button:disabled {
	background: var(--c2-add-player-btn-disabled);
}

section#control-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin: 10px 0 0 0;
}

button.ctrl-btn {
	font-family: "Rubik", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.35em;

	background: var(--control-btn-bg);
	color: var(--control-btn-fg);

	padding: 0.45em;
	margin: 0 0.2em;

	border: none;
	border-radius: 0.35em;
}

button.ctrl-btn:hover {
	background: var(--control-btn-hovered);
}

button.ctrl-btn:active {
	background: var(--control-btn-pressed);
}

button.ctrl-btn:disabled {
	opacity: 50%;
	background: var(--control-btn-disabled);
}

button#start-cycle {
	margin: 0.5em 0 0 0;
}

button#erase-all {
	margin: 0 0 0 0.2em !important;
}

button#erase-c1 {
	margin: 0 0.2em 0 0 !important;
}

button#start-turn {
	font-size: 2em;
	margin: 10px 5px 0 5px;
}

section#dice-roll {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	margin: 0 3vw;
}

section#main-dice-ui {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#main-dice-ui>button {
	width: fit-content;
}

section#dice-roll>button {
	margin: 7.5px 0;
	width: fit-content;
}

section#dices {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

section#bonus-btns {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;
}

section#bonus-btns>button {
	margin: .25em 0;
	height: 15%;
	min-width: 7em;
}

section#final-results {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 98vh;
	width: 33vw;
}

section#captures {
	background: var(--capture-panel-bg);
	border-radius: 0.5em;
}

section#captures-header {
	background: var(--capture-panel-header-bg);
	border-radius: 0.5em 0.5em 0 0;
}

li.c1-entry {
	background: var(--c1-player-panel-entry-bg);
}

li.c1-exotic-entry {
	background: var(--c1-exotic-player-panel-entry-bg);
}

li.c2-entry {
	background: var(--c2-player-panel-entry-bg);
}

li.c1-entry>p {
	color: var(--c1-player-panel-speed-fg);
}

li.c1-exotic-entry>p {
	color: var(--c1-exotic-player-panel-speed);
}

li.c2-entry>p {
	color: var(--c2-player-panel-speed-fg);
}

section#saved {
	background: var(--saved-panel-bg);
	margin: 0.5em 0 0 0;
	border-radius: 0.5em 0.5em 0 0;
}

section#saved-header {
	background: var(--saved-panel-header-bg);
	border-radius: 0.5em 0.5em 0 0;
}

section#hidden {
	background: var(--hidden-panel-bg);
	margin: 0.5em 0 0 0;
	border-radius: 0.5em 0.5em 0 0;
}

section#hidden-header {
	background: var(--hidden-panel-header-bg);
	border-radius: 0.5em 0.5em 0 0;
}

ul.results-list {
	display: flex;
	flex-direction: column;
	list-style-type: none;

	margin: 0;
	padding: 0;
}

ul.results-list>li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	font-weight: 500;
	font-size: 1.35em;

	padding: 0.25em;
}

ul#saved-list>li {
	background: var(--saved-panel-entry-bg);
}

ul#hunger-list>li {
	background: var(--hunger-panel-entry-bg);
}

ul#hidden-list>li {
	background: var(--hidden-panel-entry-bg);
}

ul.results-list>li>p {
	margin: 0;
}

ul#saved-list>li>p {
	color: var(--saved-panel-speed-fg);
}

ul#hunger-list>li>p {
	color: var(--hunger-panel-speed-fg);
}

ul#hidden-list>li>p {
	color: var(--hidden-panel-speed-fg);
}

section#hunger {
	background: var(--hunger-panel-bg);
	margin: 0.5em 0 0 0;
	border-radius: 0.5em 0.5em 0 0;
}

section#hunger-header {
	background: var(--hunger-panel-header-bg);
	border-radius: 0.5em 0.5em 0 0;
}

button#next-cycle {
	margin: 0.5em 0 0 0;
}

section#tie-break {
	display: flex;
	flex-direction: column;
	text-align: center;

	background: var(--hunger-panel-bg);
	margin: 0 0 0.5em 0;
	padding: 0.35em;
	opacity: 0%;
	border-radius: 0.5em;
}

section#tie-break>p {
	font-weight: 500;
	font-size: 2.25em;
	margin: 0;
	color: var(--c2-player-panel-speed-fg);
}

section#tie-break>h2 {
	margin: 0;
}
